.flemme{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  height: 0;
  font-size: 20px;
  font-weight: bold;
}
.flemme h1{
    background-color: aqua;
}

@media screen and (max-width: 1036px){


    .flemme{
        height: 40em;
    }

}